/* import files */
@import "/css/lib/pure-min.css";
@import "/css/lib/font.css";
@import "/css/variable.less";
@import "/css/atomic.less";
@import "/css/layout.less";
@import "/css/component.less";
@import "/css/section/panel.less";
@import "/css/section/table.less";


/* reset browser */ 
body {
    font-family: sans-serif;
}

input[type=button] {
    border-radius: 15px;
}

[contentEditable=true] {
    outline: none;
}
