/* hack browser */ 
body {
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
    font-family: "Times New Roman", "FangSong", "仿宋", STFangSong, "華文仿宋", serif;
}

h2 {
    color: #333;
    padding: 0 15px;
    font-size: 1em;
}
h3 {
    font-size: 24px;
}
@media (min-width: 740px) { 
    h1 { font-size: 3rem; }
    h2, h3 { font-size: 1.4rem; } 
}

.a-txt { 
    color: rgba(255, 255, 255, 0.75);
    font-style: normal;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.75);
    padding: 10px;
    line-height: 60px;
}
.a-txt:hover {
    color: white;
    border-color: white;
}

/* atomic-liked css*/
.z-100 {
    width: 100vw;
    height: 100vh;
}
.w-50   { width: 50%; }
.mw-450 { max-width: 450px; }

.p-f { position: fixed; }
.p-r { position: relative; }
.p-a { position: absolute; }

.m-auto { margin: auto; }
.mb-0   { margin-bottom: 0; }
.mt-0   { margin-top: 0; }
.mt-10  { margin-top: 6vh; }
.mt-15  { margin-top: 15px; }
.mt-20  { margin-top: 20%; }
.mt-30  { margin-top: 30px !important; }
.pt-80  { padding-top: 80px; }
.ph-15  { padding-left: 15px; padding-right: 15px; }

.ff-ss { font-family: sans-serif; }
.fz-16 { font-size: 16px; }
.fz-18 { font-size: 18px; }
.fs-i { font-style: italic; }
.ta-r { text-align: right; }
.ta-c { text-align: center; }
.td-u { text-decoration: underline; }
.ws-nw { white-space: nowrap; }

.c-grey1 { color: #333; }
.c-grey2 { color: #ccc; }
.c-wt { color: rgba(255, 255, 255, 0.75); }
.bg-w { background-color: rgba(245, 245, 220, 0.25); }
.bg-r { background-color: rgba(250, 130, 120, 0.05); }

.d-n { display: none; }

/* custom css */
.home {
    color: #000;
    text-align: center;
    height: 90vh;
    min-height: 580px; /*568px; iphone5*/
    background-image: url("imgs/bg7_m.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(100, 100, 100, 0.25);
}
@media (max-width: 620px) { 
.home {
    background-image: url("imgs/bg7_s.jpg");
}}
.f-mini {
    color: #666;
    font-weight: bold;
    font-size: 12px;
    padding: 0 6px;
}
.f-news {
    color: white;
    background-color: rgba(60,20,60, 0.75);
    padding: 3px 9px;
    display: inline-block;
    margin-bottom: 1px;
    padding: 3px 9px;
}

.brands {
    background-color: #fff;
}
/*.products {
background-color: #eee;
border: 1px solid #eee; 
}*/

/* swiss */
.che {
    overflow: auto;
    /*margin-bottom: 60px;*/
    padding-top: 20px;
}
.item-detail {
    margin-top: 8px;
    margin-bottom: 18px;
}

.row-che {
    color: white;
    width: 90%;
    margin-left: 5%;
    display: table;
}
.col-l { 
    width: 45%;
    display: table-cell; 
    vertical-align: bottom;
    position: relative;
}
.col-r { 
    width: 45%;
    display: table-cell; 
    text-align: left;
    background: top center no-repeat url("imgs/vs/bg-cave.jpg");
    background-size: cover;
}
@media (max-width: 800px) { 
    .row-che { display: block; }
    .col-l { display: block; width: 90%; min-height: 300px; }
    .col-r { display: block; width: 90%; }
}

.che-img-logo {
    height: 45%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.che-img-vs18 {
    width: 58%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 500px) { 
    .che-img-vs18 { width: auto; height: 52%; }
}

.bg-che {
    background: 
        15% top no-repeat url("imgs/vs/flag-ch.jpg"), 
        right -10px no-repeat url("imgs/vs/che18.jpg"), 
        0 50% no-repeat url("imgs/vs/che0.jpg");
    background-size: auto 64px, 480px auto, 100% auto;/*cover;*/
}
.che-img {
    max-width: 1000px;
    width: 90%;
}

.che-desc {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.che-list {
    max-width: 600px;
    width: 100%;
}
[class*="bg-vs"] {
    float: left;
    width: calc(100% / 2);
    height: 256px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (min-width: 740px) { [class*="bg-vs"] { width: calc(100% / 4); }} 
.bg-vs-2  { background-image: url("imgs/vs/che2.jpg"); }
.bg-vs-8  { background-image: url("imgs/vs/che8.jpg"); }
.bg-vs-5  { background: left  url("imgs/vs/che5.jpg"); }
.bg-vs-10 { background-image: url("imgs/vs/che10.jpg"); }
.bg-vs-12 { background: left  url("imgs/vs/che12.jpg"); }
.bg-vs-16 { background-image: url("imgs/vs/che16.jpg"); }
.bg-line {
    width: 45px;
    border-bottom: 1px solid grey;
    margin: 15px auto;
}

.col-3 {
    width: 25%;
    min-width: 285px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 15px;
}
.col-3-bottom {
    background-color: rgba(240, 240, 240, 0.5);
    padding: 20px 10px 10px;
}
.col-3-top img {
    width: 100%;
    height: auto;
    margin-bottom: -10px
}

@media (max-width: 620px) { 
.col-3 { width: 60%; } 
}
    
.bg-line-left {
    width: 45px;
    border-bottom: 1px solid grey;
    margin: 15px 0;
}
.bg-line-right {
    width: 45px;
    border-bottom: 1px solid grey;
    margin: 15px 0 15px auto;
}

.vs-cave,
.vs-note {
    margin: 0;
    padding: 20px;
}
.vs-cave {
    background-image: linear-gradient(0deg, rgba(0,0,0, 0), rgba(0,0,0, 0.5));
}
.vs-note {
    bottom: 0;
    background-image: linear-gradient(190deg, rgba(0,0,0, 0), rgba(0,0,0, 0.75));
}

.js-vs .name {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.esp-cava {
    width: calc(100% - 60px);
    margin: 60px auto 45px;
}
.esp-sz {
    background-color: #f8f8fa;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* cava */
.cava-desc {
    color: #fff;
    line-height: 1.75;
    margin-bottom: 15px;
    padding: 0 30px;
}
.row { 
    max-width: 1024px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
.col-cd,
.col-cl {
    width: 100%;
    box-sizing: border-box;
    float: left;
}
.col-cl div {
    width: 100%;
    min-height: 80px;
    border-top: 3px solid white;
    float: left;
    text-align: center;
}
@media (min-width: 480px) { 
    .col-cl div { width: 50%; text-align: left; } 
    .js-cl { padding-top: 2px; }
}
@media (min-width: 740px) { 
    .col-cd { width: 40%; } 
    .col-cl { width: 60%; } 
}
@media (min-width: 960px) { 
    .col-cd { width: 50%; } 
    .col-cl { width: 50%; } 
}
.bg-cava {
    min-height: 420px;
    background-image: url("imgs/bg-cava.jpg");
    background-size: cover;
    background-position: center;
}

[class*="bg-cava-"] {
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-cava-1 { background-image: url("imgs/bg-cava-1.png"); }
.bg-cava-2 { background-image: url("imgs/bg-cava-2.png"); }
.bg-cava-3 { background-image: url("imgs/bg-cava-3.png"); }
/* end of cava */

/* sz table wines */
.sz-list {
    overflow: auto;
    margin-top: 30px;
}
.sz-list div { 
    width: 300px; 
    min-height: 210px;
    margin: auto;
    padding: 5px 0 15px 85px;
    box-sizing: border-box; 
}
@media (min-width: 480px) { .sz-list div { width: 50%; float: left; }}
@media (min-width: 740px) { .sz-list div { width: 33%; float: left; } }

[class*="bg-sz-"] {
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position: top left;
}
.bg-sz-w { background-image: url("imgs/sz-w.png"); }
.bg-sz-p { background-image: url("imgs/sz-p.png"); }
.bg-sz-r { background-image: url("imgs/sz-r.png"); }

.esp-sangria {
    min-height: 100vh;
    box-sizing: border-box;
    border-bottom: 1px solid #222;
    margin-bottom: 0 !important;
    padding: 30px 0;
}
.bg-sgr {
    background: center 30px no-repeat url("imgs/bg-sgr-logo.jpg"),
    right bottom no-repeat url("imgs/bg-sgr-logo2.png"),
    0 250px no-repeat url("imgs/bg-sgr-mask.png"),
    center 180px no-repeat url("imgs/bg-sgr-red3.jpg");
    background-size: 210px auto, 64px auto, cover, cover;
}
.sgr-desc {
    color: white;
    line-height: 1.75;
    width: 80%;
    max-width: 520px;
    margin: 10vh auto 20px auto;
}
@media (min-width: 620px) { .sgr-desc { margin-top: 20vh; }}

.esp-cider {
    color: white;
    min-height: 100vh;
    overflow: auto;
}
.esp-cider .item { min-width: 320px; max-width: 480px; min-height: 138px; }
.esp-cider .item-txt { display: inline-block; width: calc(100% - 138px); }
.esp-cider .item-img { display: inline-block; width: 128px; height: 128px; padding-left: 10px; vertical-align: top; }
.esp-cider .item-detail { max-width: 360px; }
.esp-cider .item-img img { height: 128px; display: block; margin: auto; 
  filter: drop-shadow(0px -0px 4px rgba(15,15,15,0.5)); 
  -webkit-filter: drop-shadow(0px -0px 4px rgba(15,15,15,0.5)); 
}

.bg-m {
    background: right bottom no-repeat url("imgs/m.jpg");
    background-size: contain;
    background-color: rgb(15, 10, 15);
}

.prt-cherry {
    overflow: auto;
    position: relative;
}
.prt-awards {
    position: absolute;
    top: -5px;
    left: calc(100% - 160px);
}
.bg-cherry {
    background: 
        url("imgs/cherry-item.jpg"), 
        url("imgs/cherry-deco.png");
    background-repeat: no-repeat;
    background-position: center 92%, top left;
    background-size: 320px auto, 50% auto;
    padding-bottom: 250px;
}
@media (min-width: 740px) {
    .prt-awards {
        left: calc(50% + 180px);  
    }
    .bg-cherry{ 
        background-position: calc(50% + 180px) 65%, top left;
        background-size: 320px auto, 25% auto;
        padding-bottom: 2%;
    }
}
@media (max-width: 460px)  { 
    .col-cherry {
      padding-top: 30px !important;
    } 
    .bg-cherry{ 
        background-size: 280px auto, 80% auto;
    }
}
.col-cherry {
  padding-top: 100px !important;
  padding-right: 15px !important;
}

.col-2 {
    width: 100%;
    box-sizing: border-box;
    padding: 2% 6%;
    float: left;
    overflow: hidden;
}
@media (min-width: 740px) { 
    .col-2  { width: calc(100% / 2); } 
    .col-2-left { padding: 2% 3% 2% 6%; }
    .col-2-right { padding: 2% 6% 2% 3%; }
    /*.col-cl { width: calc(100% - 300px); }*/ 
}


/* item */
.item { 
    min-height: 128px;
}
.item-name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    text-decoration: underline;
}
/* end of item */


.contact {
    color: white;
    font-family: sans-serif;
    font-style: normal;
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

.btn-fb {
    opacity: 0.5;    
}
.btn-fb:hover {
    opacity: 1;
}
