/* hack browser */ 
body {
  margin: 0;
  line-height: 1.25;
}

/* atomic-liked css*/
.z-100 {
  width: 100vw;
  height: 100vh;
}
.p-f { position: fixed; }
.mt-30 { margin-top: 25vh; }
.pt-80 { padding-top: 80px; }

.ff-ss { font-family: sans-serif; }
.fs-24 { font-size: 24px; }
.fs-14 { font-size: 14px; }

.ta-r { text-align: right; }
.ta-c { text-align: center; }
.td-u { text-decoration: underline; }


/* custom css */
.home {
  color: #000;
  text-align: center;
  height: 90vh;
  background-image: url("imgs/bg7.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(100, 100, 100, 0.25);
}
.brands {
  background-color: #fff;
  border: 1px solid #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.brands > div {
  margin-bottom: 30px;
}
.products {
  background-color: #eee;
  border: 1px solid #eee; 
}
.row { 
  max-width: 1024px;
  overflow: auto;
  margin: 0 auto;
}
.col-cd,
.col-cl {
  width: 100%;
  box-sizing: border-box;
  float: left;
}
.col-cl div {
  width: 100%;
  min-height: 64px;
  border-top: 3px solid white;
  float: left
}
@media (min-width: 960px) { .col-cd { width: 50%; } }
@media (min-width: 960px) { .col-cl { width: 50%; } }
@media (min-width: 740px) and (max-width: 959px) { .col-cd { width: 33.34%; } }
@media (min-width: 740px) and (max-width: 959px) { .col-cl { width: 66.33%; } }
@media (min-width: 480px) { .col-cl div { width: 50%; } }

.esp-cava {
  width: calc(100% - 60px);
  margin-top: 15px;
}
.cava-desc {
  min-height: 200px;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.bg-cava {
  color: #fff;
  background-image: url("imgs/bg-cava.jpg");
  background-size: cover;
  background-position: center;
}

.cava-list [class*="bg-cava"] {
  background-size: 200px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-cava1 { background-image: url("imgs/bg-cava1.png"); }
.bg-cava2 { background-image: url("imgs/bg-cava2.png"); }
.bg-cava3 { background-image: url("imgs/bg-cava3.png"); }

.esp-sz {
  background-color: #f9f9f9;
  padding-top: 5px;
}
.sz-list {
  overflow: auto;
  margin-top: 30px;
}
.sz-list div { 
  width: calc(100% / 3); 
  height: 200px;
  float: left; 
}
[class*="bg-sz-"] {
  background-size: auto 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-sz-w { background-image: url("imgs/bg-sz-w.jpg"); }
.bg-sz-p { background-image: url("imgs/bg-sz-p.jpg"); }
.bg-sz-r { background-image: url("imgs/bg-sz-r.jpg"); }

.esp-sangria {
  min-height: 100vh;
}
.bg-sgr {
  background: top no-repeat url("imgs/bg-sgr-logo.jpg"),
              bottom no-repeat url("imgs/bg-sgr-red.png");
  background-size: 210px auto, 100% 68%;
}
.sgr-desc {
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  background: rgba(32, 0, 0, 0.5);
  width: 80%;
  margin: 30vh auto 0 auto;
  padding: 15px;
}

.contact {
  height: 100px;
  background-color: #333;
}
